html, body, .board, .board > div{
  height: 100%;
  margin: 0;
  padding: 0;
}

.story-column {
  width: 30%;
  display: inline-block;
  height: 100%;
  border-left: 3px solid rgba(0,0,0,.15);
  padding: 10px;
  vertical-align: top;
}

.story-column:first-child {
  border-left: 0;
}

.story {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.story h3{
  margin: 5px 0 10px;
}
